# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Fox\Desktop\Sonstiges\Studium\1. Semester\Programmieren 1\Leistungsnachweis\Spiel\snakeLN\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
